@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Lemon&display=swap');

:root {
    --laranja-claro: #fe5e37;
}

body {
    font-size: 1rem;
    font-family: 'Montserrat';
background-color: #000000;
}

header {
    background-color: #000000;
}


section {
    padding-bottom: 5rem;
}


.nav-link {
    color: #fe5e37;
    font-weight: 600;
}

.nav-img{
    margin-top: 30px;
    width: 300px;
}


.menu-acessibilidade{
    position: fixed;
    top:2rem;
    right:20px;
    z-index: 1000;
}



.rotacao-botao{
    transform: rotate(-90deg);
    transform-origin: right center;
}



.opcoes-acessibilidade{
    margin-top:10px;
    display: flex;
    flex-direction: column;
}


.opcoes-acessibilidade button{
    margin-bottom: 5px;
}


.apresenta-lista{
    display: none;
}

.inicio-fundo {
    /* aula 3 */
    background-image: url('https://cdn.sanity.io/images/iujqne6u/3xlc4ub9mmgaxaz7/07d89f77a2ca48c9045d3c449a48f86fdc89ed82-4096x2731.png?w=420&q=70&auto=format');
    /* Substitua pelo caminho da sua imagem */
    background-size: cover;
    background-position: right;
    border-radius: 80px;
    width: 100%;
    height: 606px;
    padding: 40px;
    margin: 0 auto;
}

/* posicionamento para a imagem à direita */
.img-inicio {
    position: absolute;
    right: 0;
    top: 18rem;
    width: 45rem;
    height: auto;
}


.esquerda-conteudo {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 1rem;
}


.botao-inicio {
    background-color: #fe5e37;
    border-radius: 30px;
    border: none;
    width: 14em;
    /* Convertido para em aumenta o tamanho da fonte por tabela*/
    height: 3em;
    /* Convertido para em */
    align-content: center;

}

.display-4 {
    text-shadow: -3px 3px #fe5e37;
}


#tropicalia {
    position: relative;
    padding-top: 5rem;
    margin-top: 3rem;
    margin-bottom: 3rem;
    background-color: #000000; /* Cor de fundo para o container */
    border-radius: 15px; /* Borda arredondada no container */
    overflow: hidden; /* Garante que as bordas arredondadas não sejam cortadas */
}

#tropicalia::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background: url('https://static.wikia.nocookie.net/ladygaga/images/a/ab/MAYHEM_animated_artwork.gif/revision/latest?cb=20250307175637') top right no-repeat,
                url('https://static.wikia.nocookie.net/ladygaga/images/a/ab/MAYHEM_animated_artwork.gif/revision/latest?cb=20250307175637') bottom left no-repeat;
    background-size: 180px 180px;
    border-radius: 15px; /* Arredonda as imagens dentro do container */
}



#tropicalia .container {
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
    z-index: 1;
    /* Garante que o conteúdo fica acima das imagens do background */
}


h2 {
    font-family: 'Lemon', serif;
    font-size: 2.5em;
    font-style: normal;
    color: var(--laranja-claro);
}

p{
    color: #fff;
}

#galeria .container {
    display: flex;
    flex-direction: column;
    align-items: center;
}

#galeria .row {
    display: flex;
    justify-content: center;
    gap: 20px; /* Adiciona espaço entre as imagens */
}

#galeria .col-md-4 {
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
}

.img-fluid {
    width: 700px;          /* Largura fixa */
    height: 356px;         /* Altura fixa */
    object-fit: cover;     /* Garante que a imagem cubra a área sem distorção */
}





#contato {
    background-image: url('https://cdn.sanity.io/images/iujqne6u/3xlc4ub9mmgaxaz7/07d89f77a2ca48c9045d3c449a48f86fdc89ed82-4096x2731.png?w=420&q=70&auto=format');
    background-size: cover;
    padding: 4rem 0;
    /* Espaçamento interno para a seção de contato */

}

.formulario {
    background-color: #ffffff;
    padding: 2rem;
    /* Espaçamento interno dentro do formulário */
    border-radius: 10px;
    /* Borda arredondada para o formulário */
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    /* Sombra suave para destacar o formulário */
    font-weight: bold;
}

.formulario button {
    background-color: #fe5e37;
    border: none;
    font-weight: bold;
}

/* chama classe do bootstrap para modificar a cor */
.form-control {
    background-color: #F1EDEF;
}